@model BankApp.App.ViewModels.IndexViewModel


@{
    ViewData["Title"] = "Home - BankApp";
}
    <div>
        @await Component.InvokeAsync("Header")
    </div>

<div class="row  text-center features-icons">
    <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
                <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>@Model.TotalAccounts accounts</h3>
            <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra egestas feugiat. Nunc porta dictum pellentesque.</p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
                <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>@Model.TotalCustomers customers</h3>
            <p class="lead mb-0">Cras eu nisl ipsum. Sed ornare eu est vitae dictum. Nullam interdum nunc non est egestas sodales. </p>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
                <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>Total balance: @Model.TotalBalance kr</h3>
            <p class="lead mb-0">Vivamus quam massa, tincidunt congue placerat ac, aliquam eu nisl. </p>
        </div>
    </div>
</div>