@model BankApp.App.ViewModels.AccountViewModel

@{
    ViewData["Title"] = "Account overview";
}

    <section class="testimonials text-center bg-light">
        <div class="container">


            <h1>Account @Model.Account.AccountId overview</h1>

            <h3>Transactions</h3>
            <div id="myTarget">
                <table class="table table-bordered table-hover table-responsive-sm">
                    <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Id
                            </th>
                            <th>
                                Amount
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Balance
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <partial name="_TransactionList" model="@Model" />
                    </tbody>
                </table>



            </div>
</section>